body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-align: center;
	padding: 1em;
}
h1 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
	word-wrap: break-word;
	width: 100%;
}
p {
	font-size: 1.1em;
	margin: 0.5em 0;
}
code {
	background: #1e1e1e;
	padding: 0.5em;
	border-radius: 5px;
	display: block;
	margin: 1em auto;
	max-width: 90%;
	overflow-x: auto;
	text-align: left;
}


